/* GLOBAL */

@import url("https://fonts.googleapis.com/css?family=Poppins");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    color: var(--text-color-1);
    font-family: 'Poppins', sans-serif;
}

:root {
    --hue: 210;
    --bg-color: hsl(var(--hue), 37%, 97%);
    --bg-color-2: hsl(0, 0%, 100%);
    --primary-color: hsl(calc(var(--hue) - 12), 48%, 42%);
    --stroke-color: hsl(calc(var(--hue) - 4), 30%, 95%);

    --text-color-1: hsl(0, 0%, 0%);
    --text-color-2: hsl(0, 0%, 43%);
    --text-color-3: hsl(calc(var(--hue) - 4), 17%, 60%);
    --text-color-4: hsl(0, 0%, 70%);
    --text-color-5: hsl(0, 0%, 100%);
  
    --heading-fs: clamp(3.2rem, 5vw, 6.4rem);
    --subtitle-fs: clamp(2.4rem, 4vw, 4rem);
    --sub-subtitle-fs: clamp(2rem, 3vw, 3rem);

    --text-fs: clamp(1.5rem, 2.5vw, 2.4rem);
    --subtext-fs: clamp(1.4rem, 2vw, 2rem);
  
    font-size: 62.5%;
}

html {
    scroll-behavior: smooth;
}

body {
    height: 100vh;
    min-width: 100vw;

    padding: 2rem;
    background-color: var(--bg-color);

    font-size: 1.6rem;
}

body,
#root {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#root {
    width: 100%;
}